.apartaments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    /*padding: 23px;*/
    .content {
        max-width: $maxContentWidth;
        .top {
            display: flex;
            flex-direction: row;
            .left {
                display: flex;
                flex-direction: column;
                width: 50%;
                h1 {
                    color: $textColor;
                    @include titleWithSpacing();
                }
                p {
                    color: $textColor;
                    @include subtitleBold();
                    padding-bottom: 30px;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                width: 50%;
                p {
                    color: $textColor;
                    @include normalText();
                }
                h4 {
                    color: $textColor;
                    @include subtitleBold();
                    padding-top: 22px;
                    margin: 0;
                }
            }
        }
        .bottom {
            display: flex;
            flex-direction: column;
            padding-top: 60px;
            .title {
                @include titleWithSpacing();
                color: $textColor;
                padding-bottom: 30px;
            }
            .cont {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
    }
}