footer {
    height: 320px;
    background-color: $darkGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-main {
        height: 275px;
        width: $maxContentWidth;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 48px 120px 25px;
        .brand {
            justify-content: space-between;
            .brand-logo {
                h1 {
                    @include logoTextFooter();
                    margin-bottom: 10px;
                }
                p {
                    @include subtitle();
                }
            }
            .social {
                display: flex;
                flex-direction: row;
                .text {
                    padding-right: 20px;
                }
                a {
                    padding: 0 7px;
                    img {
                        height: 22px;
                        width: 22px;
                    }
                }
            }
        }
        .addresses {
            .footer-el-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .address {
                    &:first-child {
                        padding-bottom: 10px;
                    }
                    .city {
                        @include normalText();
                        color: $footerLightGrey;
                    }
                    .address-text {
                        @include normalTextBold();
                    }
                }
            }
        }
        .contact-us {
            .footer-el-body {
                .contact {
                    &:first-child {
                        padding-bottom: 10px;
                    }
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    @include normalTextBold();
                }
            }
        }
    }
    .footer-copyright {
        height: 45px;
        width: 100%;
        background-color: $darkTextColor;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .footer-copyright-container {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 120px;
            color: $white;
            width: $maxContentWidth;
            .copyright {
                @include smallText();
            }
            ul {
                margin: 0;
                li {
                    display: inline;
                    padding-right: 38px;
                    a {
                        @include smallTextBold();
                        color: $white;
                    }
                }
            }
            .rights {
                position: absolute;
                right: 0px;
                color: $footerLightGrey;
                @include smallText();
            }
        }
    }
}

.footer-el {
    display: flex;
    flex-direction: column;
    color: $white;
    height: 100%;
    .footer-el-title {
        @include subtitleBold();
        padding-bottom: 15px;
    }
    .footer-el-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .footer-el-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        input {
            background-color: $darkGrey;
            border: none;
            border-bottom: 1px solid $borderColor;
            padding: 5px;
            margin-bottom: 15px;
            width: 100%;
        }
    }
}