.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    .room-content {
        width: $maxContentWidth;
        display: flex;
        flex-direction: column;
        height: 100%;
        .room-slider {
            padding: 0 120px 30px;
            .room-slider-image {
                height: 500px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }
        .room-slider-nav {
            /* ako je samo jedna slika u slider navigaciji 
            uvijek vidljiva onda ide padding: 0 102px; */
            padding: 0 102px 0 106px;
            margin-bottom: 18px;
            height: 165px;
            .arrows {
                @include sliderArrows();
                img {
                    height: 12px;
                    &#room-slider-prev {
                        margin-left: 80px;
                    }
                    &#room-slider-next {
                        margin-right: 80px;
                    }
                    &:last-child {
                        transform: rotateY(180deg);
                    }
                }
            }
            .room-slider-nav-image {
                height: 162px;
                margin: 0 15px;
                cursor: pointer;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
                border: 3px solid transparent;
                &.slick-current {
                    border: 3px solid $gold;
                }
            }
        }
        .room-info {
            padding: 0 120px;
            display: flex;
            flex-direction: row;
            .info {
                width: 60%;
                margin-right: 45px;
                .title {
                    @include titleWithSpacing();
                    margin-bottom: 30px;
                }
                .room-spec {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    div {
                        @include subtitleBold();
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img {
                            padding-right: 45px;
                        }
                    }
                }
                .room-description {
                    @include normalText();
                }
                .room-services {
                    border: 1px solid $borderColor;
                    padding: 26px 35px;
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    margin-bottom: 30px;
                    .service {
                        @include normalText();
                        margin: 16px;
                        img {
                            padding-right: 10px;
                        }
                    }
                }
                .hotel-rules {
                    margin-bottom: 30px;
                    li {
                        @include normalText();
                    }
                }
            }
            .aside {
                width: 40%;
                .booking {
                    background-color: $lightGrey;
                    width: 100%;
                    padding: 30px 26px;
                    margin-bottom: 60px;
                    .room-price {
                        @include priceText();
                        color: $gold;
                        margin-bottom: 20px;
                    }
                    .aside-inputs {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 26px;
                    }
                    .aside-button {
                        padding-top: 24px;
                        text-align: center;
                    }
                }
                .recommendations {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    .rec-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    .aside-title {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .comments {
            margin-left: 120px;
            width: 800px;
            display: flex;
            flex-direction: column;
            .comment {
                position: relative;
                .comment-head {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 8px;
                    .profile-image {
                        width: 80px;
                        height: 80px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: 50% 50%;
                            border-radius: 96px;
                        }
                    }
                    .profile-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 10px;
                        .profile-name {
                            @include subtitleBold();
                        }
                        .comment-time {
                            @include normalText();
                            color: $cardDarkGrey;
                        }
                    }
                    .reply {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        cursor: pointer;
                        img {
                            width: 18px;
                            height: 15px;
                        }
                        p {
                            margin-left: 8px;
                            font-family: "Lato", sans-serif;
                        }
                    }
                }
                .comment-body {
                    margin-left: 120px;
                    margin-bottom: 30px;
                    @include normalText();
                }
                .replies {
                    position: relative;
                    margin: 0 120px;
                }
            }
            .comment-form {
                width: 920px;
                display: flex;
                flex-direction: column;
                padding-bottom: 60px;
                .comment-form-top {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    .input {
                        display: flex;
                        flex-direction: column;
                        width: 440px;
                        label {
                            @include normalText();
                            margin: 0 0 5px 15px;
                        }
                    }
                }
                .comment-form-bottom {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 15px;
                    textarea {
                        height: 150px;
                        resize: none;
                    }
                    .labels {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 0 15px;
                        label {
                            @include normalText();
                            margin-bottom: 5px;
                        }
                    }
                }
                .comment-checkbox {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-bottom: 24px;
                    .checkbox {
                        margin-right: 10px;
                        width: 24px;
                        height: 24px;
                        outline: 1px solid $inputBorder;
                    }
                    label {
                        @include normalText();
                        margin: 0;
                    }
                }
            }
        }
    }
}

.room-hr {
    background-color: $borderColor;
    margin: 30px 0;
}

.small-title {
    @include subtitleBold();
    margin-bottom: 15px;
}

.aside-title {
    @include asideTitle();
}
.input-with-icon {
    display: flex;
    flex-direction: row;
    background-color: $white;
    border: 1px solid $footerLightGrey;
    border-radius: 4px;
    width: 100%;
    &:first-child {
        margin-right: 20px;
    }
    &:last-child {
        margin-left: 20px;
    }
    .icon {
        padding: 10px 15px;
        background-color: $pickerIconBackground;
        border-right: 1px solid $footerLightGrey;
        border-radius: 4px 0 0 4px;
        img {
            width: 20px;
            max-height: 30px;
        }
    }
    input {
        padding: 12px 8px 10px;
        width: 100%;
        border: none;
        border-radius: 4px;
    }
    .guests-number {
        position: relative;
        .guests-disabled {
            background-color: $white;
        }
        .number {
            font-weight: bold;
            text-align: right;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $textColor;
        }
    }
    .change-number {
        text-align: center;
        user-select: none;
        span {
            cursor: pointer;
            padding: 0 5px;
            width: 16px;
            height: 16px;
        }
    }
}
.comment-input {
    border: 1px solid $inputBorder;
    padding: 15px 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    font-family: "Lato", sans-serif;
    @include normalText();
    &::placeholder {
        color: $textColor;
        mix-blend-mode: normal;
        opacity: 0.3;
    }
}