.card {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    &.card-slider {
        width: 440px;
        margin: 0 20px;
        .card-image {
            height: 70%;
        }
        .card-body {
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 30%;
            .details {
                padding: 30px 0 30px 30px;
                .card-body-title {
                    @include subtitleBold();
                    color: $textColor;
                }
            }
            .price {
                padding-right: 30px;
                p {
                    @include priceText();
                    text-align: right;
                }
            }
        }
    }
    &.card-apartaments {
        padding-bottom: 30px;
        .card-image {
            height: 70%;
        }
        .card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $cardLightGrey;
            padding: 30px 10px;
            .details {
                .card-body-title {
                    @include subtitleBold();
                    color: $textColor;
                }
            }
            .price {
                p {
                    @include priceText();
                    text-align: right;
                }
            }
        }
    }
    &.card-news {
        margin: 20px  20px;
        height: 500px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        .card-image {
            height: 270px;
            .promo {
                position: absolute;
                top: 30px;
                left: 0;
                background-color: $gold;
                display: flex;
                flex-direction: row;
                img {
                    padding: 15px 18px;
                }
                .promo-text {
                    color: $white;
                    padding: 6px 15px 6px 0;
                }
            }
        }
        .card-body {
            .card-category {
                color: $cardDarkGrey;
                @include normalTextBold();
                padding-bottom: 10px;
            }
            .card-body-title {
                color: $textColor;
                @include subtitleBold();
                margin-bottom: 10px;
            }
            .card-description {
                color: $textColor;
                @include normalText();
                margin-bottom: 30px;
            }
        }
    }
    &.aside-card {
        background-color: $cardLightGrey;
        &:first-child {
            margin-right: 20px;
        }
        &:last-child {
            margin-left: 20px;
        }
        .card-image {
            height: 145px;
        }
        .card-body {
            display: flex;
            flex-direction: row;
            padding: 3px 10px;
            .room-data {
                width: 100%;
                p {
                    @include normalTextBold();
                }
                a {
                    @include smallTextBold();
                    color: $gold;
                }
            }
            .price {
                align-self: flex-end;
                @include priceTextSmall();
                text-align: right;
            }
        }
    }
}

.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 0;
}

.card-link {
    color: $gold;
    @include normalTextBold();
    &:hover {
        text-decoration: none;
        color: $gold;
        opacity: 0.8;
    }
    .arrow {
        display: inline-block;
        padding-left: 18px;
        &.small {
            padding-left: 10px;
        }
    }
}