@charset "UTF-8";

body {
  overflow-x: hidden;
  width: 100%;
  color: #383B37;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.control-c:hover {
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
}

.button {
  position: relative;
  border: none;
  -webkit-box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
          box-shadow: 0px 5px 10px rgba(56, 59, 55, 0.2);
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 18px 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFFFFF;
}

.button.btn-small {
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;
  padding: 4px 18px;
}

.button.btn-gold {
  background-color: #9B6333;
}

.button.btn-dark {
  background-color: #383B37;
}

.button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 30px;
  opacity: 0.1;
}

.card {
  width: 100%;
  height: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0;
}

.card.card-slider {
  width: 440px;
  margin: 0 20px;
}

.card.card-slider .card-image {
  height: 70%;
}

.card.card-slider .card-body {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30%;
}

.card.card-slider .card-body .details {
  padding: 30px 0 30px 30px;
}

.card.card-slider .card-body .details .card-body-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383B37;
}

.card.card-slider .card-body .price {
  padding-right: 30px;
}

.card.card-slider .card-body .price p {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
}

.card.card-apartaments {
  padding-bottom: 30px;
}

.card.card-apartaments .card-image {
  height: 70%;
}

.card.card-apartaments .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F2F2F2;
  padding: 30px 10px;
}

.card.card-apartaments .card-body .details .card-body-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383B37;
}

.card.card-apartaments .card-body .price p {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
}

.card.card-news {
  margin: 20px  20px;
  height: 500px;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.card.card-news .card-image {
  height: 270px;
}

.card.card-news .card-image .promo {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #9B6333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.card-news .card-image .promo img {
  padding: 15px 18px;
}

.card.card-news .card-image .promo .promo-text {
  color: #FFFFFF;
  padding: 6px 15px 6px 0;
}

.card.card-news .card-body .card-category {
  color: #B2B2B2;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 10px;
}

.card.card-news .card-body .card-body-title {
  color: #383B37;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.card.card-news .card-body .card-description {
  color: #383B37;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.card.aside-card {
  background-color: #F2F2F2;
}

.card.aside-card:first-child {
  margin-right: 20px;
}

.card.aside-card:last-child {
  margin-left: 20px;
}

.card.aside-card .card-image {
  height: 145px;
}

.card.aside-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3px 10px;
}

.card.aside-card .card-body .room-data {
  width: 100%;
}

.card.aside-card .card-body .room-data p {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.card.aside-card .card-body .room-data a {
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;
  color: #9B6333;
}

.card.aside-card .card-body .price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-size: 14px;
  line-height: 31px;
  text-align: right;
}

.card-img-top {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 0;
}

.card-link {
  color: #9B6333;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

.card-link:hover {
  text-decoration: none;
  color: #9B6333;
  opacity: 0.8;
}

.card-link .arrow {
  display: inline-block;
  padding-left: 18px;
}

.card-link .arrow.small {
  padding-left: 10px;
}

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  /*
    position: absolute;
    bottom: -25px;*/
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 2px;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover:focus {
  outline: none;
}

.slick-dots li button:hover:focus::before {
  opacity: 1;
}

.slick-dots li button::before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: '\2022';
  text-align: center;
  color: #9B6333;
}

.slick-dots li.slick-active button::before {
  color: #383B37;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .top {
  background-color: #F0ECE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .top .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1405px;
}

header .top .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

header .top .content .links li {
  padding-right: 16px;
}

header .top .content .links li img {
  height: 16px;
}

header .top .content .links li a {
  padding: 0 5px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
}

header .top .content .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

header .top .content .language li a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  padding: 0 10px;
}

header .top .content .language li a img {
  height: 16px;
}

header .top .content .language li a.active {
  color: #9B6333;
}

header .top .content .language li:nth-child(3) {
  border-right: 0.5px solid #1D1D1D;
  height: 100%;
}

header .bottom {
  background-color: #272525;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .bottom .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1405px;
}

header .bottom .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header .bottom .content .links li {
  padding: 0 32px;
}

header .bottom .content .links li a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

header .bottom .content.homepage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .bottom .content.room {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .bottom .content.room .links button {
  margin-left: 40px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  /*padding: 0 23px;*/
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 50px;
  color: #FFFFFF;
}

.logo:hover {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.8;
}

.home-banner {
  background-image: url(/images/bannerImage.svg?777b6c49aab848e9cbc07ff40dd86188);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 919px;
  position: relative;
}

.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1D1D1D;
  opacity: 0.5;
}

.home-banner .home-banner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

.home-banner .home-banner-top .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1405px;
  color: #FFFFFF;
  /*padding: 0 23px;*/
  z-index: 1;
}

.home-banner .home-banner-top .content .title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
}

.home-banner .home-banner-top .content .sub-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 15px;
}

.home-banner .home-banner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  padding: 50px 0;
}

.home-banner .home-banner-bottom .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1405px;
  z-index: 1;
}

.home-banner .home-banner-bottom .content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 350px;
  /*padding-left: 23px;*/
  width: 34%;
}

.home-banner .home-banner-bottom .content .social .text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-right: 27px;
}

.home-banner .home-banner-bottom .content .social a {
  padding-right: 35px;
}

.home-banner .home-banner-bottom .content .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -20px;
  width: 66%;
  height: 350px;
}

.home-banner .home-banner-bottom .content .slider .slick-arrow {
  color: #FFFFFF;
}

.home-banner .home-banner-bottom .content .slider .slick-list {
  height: 100%;
  margin-left: 50px;
}

.home-banner .home-banner-bottom .content .slider .slick-list .slick-track {
  height: 100%;
}

.apartaments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  /*padding: 23px;*/
}

.apartaments .content {
  max-width: 1405px;
}

.apartaments .content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.apartaments .content .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.apartaments .content .top .left h1 {
  color: #383B37;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
}

.apartaments .content .top .left p {
  color: #383B37;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 30px;
}

.apartaments .content .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.apartaments .content .top .right p {
  color: #383B37;
  font-size: 16px;
  line-height: 23px;
}

.apartaments .content .top .right h4 {
  color: #383B37;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-top: 22px;
  margin: 0;
}

.apartaments .content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
}

.apartaments .content .bottom .title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  color: #383B37;
  padding-bottom: 30px;
}

.apartaments .content .bottom .cont {
  margin: 0;
  padding: 0;
  width: 100%;
}

.service-and-news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 240px;
}

.service-and-news .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.service-and-news .left .services-background {
  background-image: url(/images/servicesBckg.svg?4266bbaf37576bc6191e64e722b5ff5c);
  height: 355px;
}

.service-and-news .right {
  max-width: 620px;
  z-index: 1;
}

.service-and-news .right img {
  width: 100%;
}

.service-and-news .content {
  position: absolute;
  top: 0;
  max-width: 1405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-and-news .content .services-text {
  height: 355px;
  width: 60%;
  padding: 44px 0 44px 120px;
  color: #FFFFFF;
}

.service-and-news .content .services-text h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin: 0;
}

.service-and-news .content .services-text h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.service-and-news .content .services-text p {
  font-size: 16px;
  line-height: 23px;
  padding: 30px 0;
}

.service-and-news .content .services-text a {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #9B6333;
}

.service-and-news .content .services-text a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.service-and-news .content .services-text a .arrow {
  display: inline-block;
  padding-left: 18px;
}

.service-and-news .content .services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.service-and-news .content .services-wrapper .services-list {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-and-news .content .services-wrapper .services-list .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 255px;
}

.service-and-news .content .services-wrapper .services-list .service-item .service-icon {
  padding: 20px 0 18px;
}

.service-and-news .content .services-wrapper .services-list .service-item .service-icon img {
  height: 48px;
}

.service-and-news .content .services-wrapper .services-list .service-item .service-content {
  padding: 10px 15px 20px;
  background-color: #F0ECE7;
  min-height: 135px;
}

.service-and-news .content .services-wrapper .services-list .service-item .service-content h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #383B37;
  margin-bottom: 6px;
}

.service-and-news .content .services-wrapper .services-list .service-item .service-content .description {
  font-size: 16px;
  line-height: 23px;
  padding-top: 4px;
}

.service-and-news .content .services-wrapper .services-list .service-item .service-content .service-divider {
  background-color: #9B6333;
  width: 100px;
  margin: 0;
}

.service-and-news .content .news {
  width: 100%;
  height: 600px;
  margin-top: 40px;
  padding: 0 100px;
}

.service-and-news .content .news .news-title {
  color: #383B37;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin: 0 0 10px 20px;
}

.service-and-news .content .news .news-slider .arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-and-news .content .news .news-slider .arrows img {
  height: 30px;
}

.service-and-news .content .news .news-slider .arrows img#news-carousel-prev {
  margin-left: -50px;
}

.service-and-news .content .news .news-slider .arrows img#news-carousel-next {
  margin-right: -50px;
}

.service-and-news .content .news .news-slider .arrows img:last-child {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.gray-area {
  width: 100%;
  height: 683px;
  background-color: #F0ECE7;
}

.features-and-reviews {
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features-and-reviews .features {
  width: 100%;
  height: 450px;
  position: absolute;
  top: -50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-and-reviews .features .features-image {
  position: absolute;
  left: 0;
}

.features-and-reviews .features .features-box {
  padding: 0 120px;
  width: 1405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features-and-reviews .features .features-box .features-text {
  background-color: #FFFFFF;
  width: 800px;
  height: 350px;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  padding: 44px 60px;
  z-index: 1;
}

.features-and-reviews .features .features-box .features-text .features-title {
  color: #383B37;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.features-and-reviews .features .features-box .features-text .text {
  color: #383B37;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 40px;
}

.features-and-reviews .reviews {
  margin-top: 235px;
  max-width: 1405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  padding: 0 100px 60px;
}

.features-and-reviews .reviews .arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-and-reviews .reviews .arrows img {
  height: 30px;
}

.features-and-reviews .reviews .arrows img#guest-reviews-prev {
  margin-left: 50px;
}

.features-and-reviews .reviews .arrows img#guest-reviews-next {
  margin-right: 50px;
}

.features-and-reviews .reviews .arrows img:last-child {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.features-and-reviews .reviews .reviews-title {
  margin-left: 20px;
}

.features-and-reviews .reviews .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
}

.features-and-reviews .reviews .review .user {
  border-radius: 50px;
  height: 80px;
  width: 440px;
  background-color: #F0ECE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.features-and-reviews .reviews .review .user .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-and-reviews .reviews .review .user .user-data .profile-image {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.features-and-reviews .reviews .review .user .user-data .profile-data {
  padding-left: 10px;
}

.features-and-reviews .reviews .review .user .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 28px;
}

.features-and-reviews .reviews .review .review-comment {
  color: #383B37;
  width: 440px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room .room-content {
  width: 1405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.room .room-content .room-slider {
  padding: 0 120px 30px;
}

.room .room-content .room-slider .room-slider-image {
  height: 500px;
}

.room .room-content .room-slider .room-slider-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.room .room-content .room-slider-nav {
  /* ako je samo jedna slika u slider navigaciji 
            uvijek vidljiva onda ide padding: 0 102px; */
  padding: 0 102px 0 106px;
  margin-bottom: 18px;
  height: 165px;
}

.room .room-content .room-slider-nav .arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room .room-content .room-slider-nav .arrows img {
  height: 12px;
}

.room .room-content .room-slider-nav .arrows img#room-slider-prev {
  margin-left: 80px;
}

.room .room-content .room-slider-nav .arrows img#room-slider-next {
  margin-right: 80px;
}

.room .room-content .room-slider-nav .arrows img:last-child {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.room .room-content .room-slider-nav .room-slider-nav-image {
  height: 162px;
  margin: 0 15px;
  cursor: pointer;
  border: 3px solid transparent;
}

.room .room-content .room-slider-nav .room-slider-nav-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.room .room-content .room-slider-nav .room-slider-nav-image.slick-current {
  border: 3px solid #9B6333;
}

.room .room-content .room-info {
  padding: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.room .room-content .room-info .info {
  width: 60%;
  margin-right: 45px;
}

.room .room-content .room-info .info .title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.room .room-content .room-info .info .room-spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room .room-content .room-info .info .room-spec div {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.room .room-content .room-info .info .room-spec div img {
  padding-right: 45px;
}

.room .room-content .room-info .info .room-description {
  font-size: 16px;
  line-height: 23px;
}

.room .room-content .room-info .info .room-services {
  border: 1px solid #C4C4C4;
  padding: 26px 35px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 30px;
}

.room .room-content .room-info .info .room-services .service {
  font-size: 16px;
  line-height: 23px;
  margin: 16px;
}

.room .room-content .room-info .info .room-services .service img {
  padding-right: 10px;
}

.room .room-content .room-info .info .hotel-rules {
  margin-bottom: 30px;
}

.room .room-content .room-info .info .hotel-rules li {
  font-size: 16px;
  line-height: 23px;
}

.room .room-content .room-info .aside {
  width: 40%;
}

.room .room-content .room-info .aside .booking {
  background-color: #F0ECE7;
  width: 100%;
  padding: 30px 26px;
  margin-bottom: 60px;
}

.room .room-content .room-info .aside .booking .room-price {
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  color: #9B6333;
  margin-bottom: 20px;
}

.room .room-content .room-info .aside .booking .aside-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 26px;
}

.room .room-content .room-info .aside .booking .aside-button {
  padding-top: 24px;
  text-align: center;
}

.room .room-content .room-info .aside .recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.room .room-content .room-info .aside .recommendations .rec-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room .room-content .room-info .aside .recommendations .aside-title {
  margin-bottom: 30px;
}

.room .room-content .comments {
  margin-left: 120px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.room .room-content .comments .comment {
  position: relative;
}

.room .room-content .comments .comment .comment-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.room .room-content .comments .comment .comment-head .profile-image {
  width: 80px;
  height: 80px;
}

.room .room-content .comments .comment .comment-head .profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 96px;
}

.room .room-content .comments .comment .comment-head .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.room .room-content .comments .comment .comment-head .profile-info .profile-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.room .room-content .comments .comment .comment-head .profile-info .comment-time {
  font-size: 16px;
  line-height: 23px;
  color: #B2B2B2;
}

.room .room-content .comments .comment .comment-head .reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.room .room-content .comments .comment .comment-head .reply p {
  margin-left: 8px;
  font-family: "Lato", sans-serif;
}

.room .room-content .comments .comment .comment-body {
  margin-left: 120px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 23px;
}

.room .room-content .comments .comment .replies {
  position: relative;
  margin: 0 120px;
}

.room .room-content .comments .comment-form {
  width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

.room .room-content .comments .comment-form .comment-form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.room .room-content .comments .comment-form .comment-form-top .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 440px;
}

.room .room-content .comments .comment-form .comment-form-top .input label {
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 5px 15px;
}

.room .room-content .comments .comment-form .comment-form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
}

.room .room-content .comments .comment-form .comment-form-bottom textarea {
  height: 150px;
  resize: none;
}

.room .room-content .comments .comment-form .comment-form-bottom .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.room .room-content .comments .comment-form .comment-form-bottom .labels label {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 5px;
}

.room .room-content .comments .comment-form .comment-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.room .room-content .comments .comment-form .comment-checkbox .checkbox {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  outline: 1px solid #CCCCCC;
}

.room .room-content .comments .comment-form .comment-checkbox label {
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}

.room-hr {
  background-color: #C4C4C4;
  margin: 30px 0;
}

.small-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}

.aside-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
}

.input-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  width: 100%;
}

.input-with-icon:first-child {
  margin-right: 20px;
}

.input-with-icon:last-child {
  margin-left: 20px;
}

.input-with-icon .icon {
  padding: 10px 15px;
  background-color: #F0F0F0;
  border-right: 1px solid #D0D0D0;
  border-radius: 4px 0 0 4px;
}

.input-with-icon .icon img {
  width: 20px;
  height: 20px;
}

.input-with-icon input {
  padding: 12px 8px 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.input-with-icon .guests-number {
  position: relative;
}

.input-with-icon .guests-number .guests-disabled {
  background-color: #FFFFFF;
}

.input-with-icon .guests-number .number {
  font-weight: bold;
  text-align: right;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input-with-icon .change-number {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-with-icon .change-number span {
  cursor: pointer;
  padding: 0 5px;
  width: 16px;
  height: 16px;
}

.comment-input {
  border: 1px solid #CCCCCC;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.comment-input::-webkit-input-placeholder {
  color: #383B37;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.comment-input::-moz-placeholder {
  color: #383B37;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.comment-input::-ms-input-placeholder {
  color: #383B37;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.comment-input::placeholder {
  color: #383B37;
  mix-blend-mode: normal;
  opacity: 0.3;
}

footer {
  height: 320px;
  background-color: #272525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-main {
  height: 275px;
  width: 1405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 120px 25px;
}

footer .footer-main .brand {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-main .brand .brand-logo h1 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

footer .footer-main .brand .brand-logo p {
  font-size: 20px;
  line-height: 23px;
}

footer .footer-main .brand .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-main .brand .social .text {
  padding-right: 20px;
}

footer .footer-main .brand .social a {
  padding: 0 7px;
}

footer .footer-main .brand .social a img {
  height: 22px;
  width: 22px;
}

footer .footer-main .addresses .footer-el-body .address:first-child {
  padding-bottom: 10px;
}

footer .footer-main .addresses .footer-el-body .address .city {
  font-size: 16px;
  line-height: 25px;
  color: #D0D0D0;
}

footer .footer-main .addresses .footer-el-body .address .address-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

footer .footer-main .contact-us .footer-el-body .contact {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

footer .footer-main .contact-us .footer-el-body .contact:first-child {
  padding-bottom: 10px;
}

footer .footer-copyright {
  height: 45px;
  width: 100%;
  background-color: #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-copyright .footer-copyright-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 120px;
  color: #FFFFFF;
  width: 1405px;
}

footer .footer-copyright .footer-copyright-container .copyright {
  font-size: 12px;
  line-height: 25px;
}

footer .footer-copyright .footer-copyright-container ul {
  margin: 0;
}

footer .footer-copyright .footer-copyright-container ul li {
  display: inline;
  padding-right: 38px;
}

footer .footer-copyright .footer-copyright-container ul li a {
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  color: #FFFFFF;
}

footer .footer-copyright .footer-copyright-container .rights {
  position: absolute;
  right: 0px;
  color: #D0D0D0;
  font-size: 12px;
  line-height: 25px;
}

.footer-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  height: 100%;
}

.footer-el .footer-el-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 15px;
}

.footer-el .footer-el-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.footer-el .footer-el-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-el .footer-el-form input {
  background-color: #272525;
  border: none;
  border-bottom: 1px solid #C4C4C4;
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
}

