body {
    overflow-x: hidden;
    width: 100%;
    color: $textColor;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.control-c {
    &:hover {
        cursor: pointer;
    }
}