@mixin topOfNavigationText {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: $darkTextColor;
}

@mixin sliderArrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin logoText {
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 50px;
}

@mixin logoTextFooter {
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

@mixin title {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 42px;
    line-height: 56px;
}

@mixin titleWithSpacing {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 2px;
}

@mixin asideTitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
}

@mixin subtitle {
    font-size: 20px;
    line-height: 25px;
}

@mixin subtitleBold {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}

@mixin normalText {
    font-size: 16px;
    line-height: 23px;
}

@mixin normalTextBold {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
}

@mixin smallText {
    font-size: 12px;
    line-height: 25px;
}

@mixin smallTextBold {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
}

@mixin priceText {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

@mixin priceTextSmall {
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}