@mixin topOfNavigationText {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: $darkTextColor;
}

@mixin sliderArrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin normalText {
    font-size: 16px;
    line-height: 23px;
}

@mixin normalTextBold {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
}

@mixin priceText {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

@mixin priceTextSmall {
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}