// colors
$white: #FFFFFF;
$gold: #9B6333;
$lightGrey: #F0ECE7;
$cardLightGrey: #F2F2F2;
$cardDarkGrey: #B2B2B2;
$darkGrey: #272525;
$darkTextColor: #1D1D1D;
$textColor: #383B37;
$borderColor: #C4C4C4;
$footerLightGrey: #D0D0D0;
$pickerIconBackground: #F0F0F0;

$maxContentWidth: 1405px;