<footer>
    <div class="footer-main">
        <div class="footer-el brand">
            <div class="brand-logo">
                <h1>Hotel</h1>
                <p>Every day is a new</br>day for relaxation.</p>
            </div>
            <div class="social">
                <p class="text">Follow us</p>
                <a href="#"><img src="{{ base_path~directory }}/assets/images/icons/facebookWhite.png" /></a>
                <a href="#"><img src="{{ base_path~directory }}/assets/images/icons/instagramWhite.png" /></a>
            </div>
        </div>
        <div class="footer-el addresses">
            <div class="footer-el-title">Address</div>
            <div class="footer-el-body">
                <div class="address">
                    <p class="city">London</p>
                    <p class="address-text">Main street 1 London, CA 70413</p>
                    <p class="address-text">Open: 9:30AM 5:30PM</p>
                </div>
                <div class="address">
                    <p class="city">New York</p>
                    <p class="address-text">Great street Broadway, NT 10013</p>
                    <p class="address-text">Open: 8:30AM 4:30PM</p>
                </div>
            </div>
        </div>
        <div class="footer-el contact-us">
            <div class="footer-el-title">Contact us</div>
            <div class="footer-el-body">
                <div class="contact">
                    <p>+44 (800) 456-78-91</p>
                    <p>hotel.london@mail.com</p>
                </div>
                <div class="contact">
                    <p>+1 (810) 456-78-91</p>
                    <p>hotel.ny@mail.com</p>
                </div>
            </div>
        </div>
        <div class="footer-el stay-in-touch">
            <div class="footer-el-title">Stay in touch</div>
            <form action="/" method="POST" class="footer-el-form">
                <input type="text" placeholder="Your email" />
                <button class="button btn-small btn-dark">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="footer-copyright-container">
            <p class="copyright">@2020, Frontend akademija</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Site map</a></li>
            </ul>
            <p class="rights">All Rights Reserved</p>
        </div>
    </div>
</footer>