<header>
    <div class="top">
        <div class="content">
            <ul class="links">
                <li><img src="{{base_path~directory}}/assets/images/icons/pin.png" /><a href="#">Location</a></li>
                <li><img src="{{base_path~directory}}/assets/images/icons/envelope.png" /><a href="#">Mail us</a></li>
                <li><img src="{{base_path~directory}}/assets/images/icons/loginKey.png" /><a href="#">Login</a></li>
            </ul>    
            <ul class="language">
                <li><a href="#"><img src="{{base_path~directory}}/assets/images/icons/search.png" /></a></li>
                <li><a href="#">DE</a></li>
                <li></li>
                <li><a class="active" href="#">EN</a></li>
            </ul>
        </div>
    </div>
    {% if product %}
        {% include "header-bottom-room.html.twig" %}
    {% else %}
        {% include "header-bottom-homepage.html.twig" %}
    {% endif %}
</header>