<header>
    <div class="top">
        <div class="content">
            <ul class="links">
                <li><img src="{{base_path~directory}}/assets/images/icons/pin.svg" /><a href="#">Location</a></li>
                <li><img src="{{base_path~directory}}/assets/images/icons/envelope.svg" /><a href="#">Mail us</a></li>
                <li><img src="{{base_path~directory}}/assets/images/icons/loginKey.svg" /><a href="#">Login</a></li>
            </ul>    
            <ul class="language">
                <li><a href="#"><img src="{{base_path~directory}}/assets/images/icons/search.svg" /></a></li>
                <li><a href="#">DE</a></li>
                <li></li>
                <li><a class="active" href="#">EN</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="content">
            <a href="/" class="logo">Hotel</a>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</header>