{% extends "main_layout.html.twig" %}
{% block header %}
    {% include "header.html.twig" %}
{% endblock %}
{% block content %}
    <h1>Soba</h1>
    <p>{{ product.slug }}</p>
{% endblock %}
{% block footer %}
    {% include "footer.html.twig" %}
{% endblock %}